.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.navbar {
    background-color: #f5beb7 !important;
}


.gradient-custom {
    /* fallback for old browsers */
    background: #f5beb7;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(252,243,240,255), rgba(253,239,230,255));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(252,243,240,255), rgba(253,239,230,255));
}

.content {
    margin-top:64px;
    min-height: calc( 100vh - 120px )
}