<footer class=" mt-4 bg-dark text-white text-center p-3">
	<p>&copy;
		{{ 'about.brand'|trans }}
		{{ 'now' | date('Y') }}.
		{{ 'footer.text'|trans }}.</p>
	<a href="https://github.com/MaratAkhmedov" class="text-white">Github</a>
</footer>